.productos-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.productos-grid ion-card:hover {
  border: 1px solid var(--green-pastel);
  transition: 0.3s ease;
}

@media (min-width: 768px) and (max-width: 992px)  {
  .productos-grid {
    grid-template-columns: repeat(3, 1fr); 
    align-items: stretch;
    max-width: 95%;
  }
  .info-productos h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .productos-grid {
    grid-template-columns: repeat(4, 1fr); 
    align-items: stretch;
    max-width: 95%;
  }

  .info-productos h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
  }
}

.productos-grid ion-card {
  --background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 15px;
  margin: 5px;
  box-shadow: 0 4px 10px rgba(37, 37, 37, 0.3);
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.productos-grid ion-card ion-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}

.info-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2px;
  flex: 1 1 auto; 
  justify-content: flex-start; 
  user-select: none;
}

.info-productos img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 1px solid #444;
}

.info-productos h3 {
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

/* texto información*/
.text-products{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 200px;
  user-select: none;
}

.text-products p {
  font-size: 0.8rem;
  min-width: 100px;
  color: #b0b0b0;
}

.text-products span {
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--green-pastel);
  margin: 0;
}

/* precio */
.precio-producto {
  text-align: center;
  font-size: 1.1rem;
  color: whitesmoke;
  user-select: none;
}

.precio-producto span {
  color: var(--green-pastel);
  user-select: none;
}

/* Boton comprar */
.comprar {
  --border-radius: 15px;
  --background: var(--green-pastel);
  color: var(--green-soldier);
  margin-top: 15px; 
  width: 100%;
  font-weight: bold;
  text-transform: capitalize;
  user-select: none;
}

.comprar:hover {
  --box-shadow: 0 4px 15px var(--shadow-filter);
}
