ion-content {
  display: flex;
  flex-direction: column;
}

ion-toolbar {
  --background: #1e1e1e;
  --color: whitesmoke;
  --border-style: none;
} 

ion-header.header-collapse-condense ion-toolbar {
  --background: transparent;
  --border-style: none;
}

ion-header.header-collapse-condense ion-toolbar ion-title {
  color: whitesmoke;
  font-weight: 700;
  font-size: 34px;
}

/* Tabs */
ion-tab-bar {
  --background: #1e1e1e;
  --color: whitesmoke;
  --color-selected: rgba(56, 189, 248, 0.6);
  font-family: monospace;
  font-size: 14px;
}

/* Estilos Link  */
.Link {
  color: #38bdf8; 
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block; 
  margin-top: 10px;
}

.Link:hover {
  color: #7dd3fc; 
  text-decoration: underline;
  transform: translateY(-1px);
}

.Link:active {
  opacity: 0.6;
  transform: scale(0.95);
}

/* texto y centrados */
.text{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
}